.form {
    width: 100%;
    padding: 20px 20px 0 20px ;
}
.form input:focus,
.form textarea:focus {
    border: 2px solid #06494f;
}

.form input[type="email"],
.form input[type="text"],
.form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #06494f;
  resize: vertical;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  color: #06494f;
  cursor: pointer;
}

.form textarea {
  height: 100px;
  max-height: 500px;
  padding: 10px;
}

.submit {
    display: flex;
    justify-content: center;
}
.submit input[type="submit"], .submit label {
    width: 100%;
}



@media (min-width: 780px) {
    .submit {
        justify-content: flex-end;
    }
    .submit input[type="submit"], .submit label {
        width: unset;
    }
}